* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header,
footer {
  background-color: #cdb677;
}

header {
  margin-bottom: 15px;
}

section {
  width: 100%;
  padding: 15px 30px;
}

body {
  background-color: #ece6cc;
}

main {
  padding: 15px 60px;
}

h2 {
  padding-bottom: 10px;
}

p {
  font-size: 16px;
  padding-bottom: 10px;
}

.images {
  display: flex;
  gap: 15px;
}

img {
  border: 2px rgb(0, 0, 0) solid;
  border-radius: 15px;
}

#lies-img {
  border: 3px red solid;
}

nav a {
  padding-right: 5px;
}

main hr {
  margin: 15px 0;
}

.images img {
  max-width: 50vw;
}
