* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 15px 10px;
}

button {
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(28, 28, 87);
  color: white;
  cursor: pointer;
}

#list {
  margin: 10px 0;
  display: flex;
  gap: 5px;
}

#list div {
  padding: 5px 10px;
  background-color: #e0e0e0;
  border: 1px solid #a0a0a0;
  color: #404040;
  border-radius: 5px;
}
